/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */

/* Global Variables */
:root {
    --trapeziun-1: rgb(75, 45, 207);
    --trapeziun-2: rgb(0, 168, 98);
    --trapeziun-3: rgb(214, 200, 0);
    --trapeziun-4: rgb(190, 15, 196);
    --trapeziun-5: rgb(0, 152, 179);
    --trapeziun-6: rgb(255, 81, 0);

    --correct: rgb(41, 248, 0);
    --trapeziun-wrong: rgb(212, 0, 0);

    --dark-gray: rgb(36, 36, 36);
    --dark-green: rgb(34, 107, 0);

    --dark-gray-fade: rgba(68, 68, 68, 0.5);
    --button-color: rgb(153, 153, 153);
    --scoreboard-box-color: rgba(210, 34, 216, 0.336);
    --scoreboard-box-border-color: rgb(210, 34, 216);
    --scoreboard-box-buttons-color: rgb(126, 0, 131);
    --timer-box-color: rgb(75, 75, 75);

    --scrollbar-rail: rgba(117, 0, 121, 0.274);
    --scrollbar-thumb: rgba(134, 88, 172, 0.643);
    /* --scrollbar-thumb: rgb(82, 0, 85); */
}

/* ---------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    /* Escolher font dps */
}

body {
    background: var(--dark-gray);
    width: 100vw;
    height: 100%;
}

.container {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.game-container {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    width: 45vw;
    padding-left: 10%;
}

.game-container h1 {
    justify-content: left;
    text-align: left;
    width: fit-content;
    padding: 5px;
}

.level-title {
    color: #fff;
    font-size: 40px;
    -webkit-text-stroke: 1px var(--dark-gray-fade);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;

    border: 2px solid transparent;
    border-radius: 10px;
}

.correct-level {
    color: var(--correct);
    font-size: 40px;
    -webkit-text-stroke: 1px var(--dark-green);
    text-shadow: 0 0 10px var(--correct), 0 0 20px var(--correct);

    border: 2px solid var(--dark-green);
    border-radius: 10px;
}

.game-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
}

.trapeziun {
    position: absolute;
    width: 145px;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    clip-path: polygon(26% 0%, 74% 0%, 100% 100%, 0% 100%);
    opacity: 0.3;
}

.trapeziun-hover {
    cursor: pointer;
}

.trapeziun-hover:hover {
    opacity: 1;
}

.activate-trapeziun {
    opacity: 1;
}

.correct-trapeziun {
    border-bottom: 140px solid var(--correct);
}

.wrong-trapeziun {
    border-bottom: 140px solid var(--trapeziun-wrong);
}

.hexagon {
    width: 140px;
    height: 100px;
    position: relative;
    background: var(--timer-box-color);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    cursor: pointer;
    opacity: 1;
}

.hexagon:hover {
    opacity: 0.6;
}

.hexagon-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    color: #000;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.trapeziun:nth-child(1) {
    transform: translate(-50%, -50%) rotate(60deg) translate(230px) rotate(-90deg);
}
.trapeziun:nth-child(2) {
    transform: translate(-50%, -50%) rotate(120deg) translate(230px) rotate(-90deg);
}
.trapeziun:nth-child(3) {
    transform: translate(-50%, -50%) rotate(180deg) translate(230px) rotate(-90deg);
}
.trapeziun:nth-child(4) {
    transform: translate(-50%, -50%) rotate(240deg) translate(230px) rotate(-90deg);
}
.trapeziun:nth-child(5) {
    transform: translate(-50%, -50%) rotate(300deg) translate(230px) rotate(-90deg);
}
.trapeziun:nth-child(6) {
    transform: translate(-50%, -50%) rotate(0deg) translate(230px) rotate(-90deg);
}


.trapeziun-1 {
    border-bottom: 140px solid var(--trapeziun-1);
}
.trapeziun-2 {
    border-bottom: 140px solid var(--trapeziun-2);
}
.trapeziun-3 {
    border-bottom: 140px solid var(--trapeziun-3);
}
.trapeziun-4 {
    border-bottom: 140px solid var(--trapeziun-4);
}
.trapeziun-5 {
    border-bottom: 140px solid var(--trapeziun-5);
}
.trapeziun-6 {
    border-bottom: 140px solid var(--trapeziun-6);
}


.trapeziun-animation-1 {
    animation: floating-1 5s ease-in-out infinite;;
}

.trapeziun-animation-2 {
    animation: floating-2 5s ease-in-out infinite;
}

.trapeziun-animation-3 {
    animation: floating-3 5s ease-in-out infinite;
}

.trapeziun-animation-4 {
    animation: floating-4 5s ease-in-out infinite;
}

.trapeziun-animation-5 {
    animation: floating-5 5s ease-in-out infinite;
}

.trapeziun-animation-6 {
    animation: floating-6 5s ease-in-out infinite;
}

.scoreboard-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 35px 50px;
    height: 100%;

    background: var(--scoreboard-box-color);
    border: 3px solid #ff19cd;
    border-radius: 5px;

    color: #fff;
    font-size: 20px;
    -webkit-text-stroke: 1px var(--dark-gray-fade);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

.scoreboard-box-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.player-list {
    max-height: 600px;
    min-height: 400px;
    padding: 5px 15px;
    overflow: auto;

    border: 10px double var(--scoreboard-box-border-color);
    box-shadow: 0 0 10px var(--scoreboard-box-border-color), 0 0 20px var(--scoreboard-box-border-color);
}

.player-list h1 {
    border-bottom: 5px dashed var(--scoreboard-box-border-color);
}

::-webkit-scrollbar {
    background: var(--scrollbar-rail);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

.player-list ul {
    list-style: none;
}

.player-list ul li {
    padding: 4px 0;
}

.input-box {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.player-name-input {
    border: 2px solid var(--scoreboard-box-border-color);
    height: 20px;
    padding: 3px;
    color: #fff;
    background: var(--scoreboard-box-buttons-color);
    transition: 2s;
}

.player-name-input::placeholder {
    color: #fff;
}

.player-name-input:focus {
    box-shadow: 0 0 10px var(--scoreboard-box-border-color), 0 0 20px var(--scoreboard-box-border-color), 0 0 40px var(--scoreboard-box-border-color), 0 0 80px var(--scoreboard-box-border-color);
    outline: none;
    color: #000;
    background: #fff;
}

.player-name-input:focus::placeholder {
    color: #000;
}

.player-name-button {
    height: 30px;
    background: var(--scoreboard-box-buttons-color);
    color: #fff;
    font-size: 20px;
    -webkit-text-stroke: 1px var(--dark-gray-fade);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    padding: 3px;

    border: 2px solid var(--scoreboard-box-border-color);
    cursor: pointer;
}

.player-name-button:active {
    border: 2px solid var(--scoreboard-box-border-color);
    box-shadow: 0 0 10px var(--scoreboard-box-border-color), 0 0 20px var(--scoreboard-box-border-color), 0 0 40px var(--scoreboard-box-border-color), 0 0 80px var(--scoreboard-box-border-color);
}

.reset-button {
    background-color: transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: var(--scoreboard-box-buttons-color);
    color: #fff;
    font-size: 20px;
    -webkit-text-stroke: 1px var(--dark-gray-fade);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;

    border: 6px double var(--scoreboard-box-border-color);
    box-shadow: 0 0 10px var(--scoreboard-box-border-color);
    cursor: pointer;
}

.reset-button:active {
    border: 5px double var(--scoreboard-box-border-color);
    box-shadow: 0 0 10px var(--scoreboard-box-border-color), 0 0 20px var(--scoreboard-box-border-color);
}

/* ---------------------------------------------------------------------- */

.hidden-element {
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}

.show-element {
    visibility: visible;
    opacity: 1;
}

.show-trapeziun {
    visibility: visible;
    transition: 1.5s;
}

/* ---------------------------------------------------------------------- */

@keyframes floating-1 {

    0%,
    100% {
        transform: translate(-50%, -50%) rotate(60deg) translate(200px) rotate(-90deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(60deg) translate(250px) rotate(-90deg);
    }
}

@keyframes floating-2 {

    0%,
    100% {
        transform: translate(-50%, -50%) rotate(120deg) translate(200px) rotate(-90deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(120deg) translate(250px) rotate(-90deg);
    }
}

@keyframes floating-3 {

    0%,
    100% {
        transform: translate(-50%, -50%) rotate(180deg) translate(250px) rotate(-90deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg) translate(200px) rotate(-90deg);
    }
}

@keyframes floating-4 {

    0%,
    100% {
        transform: translate(-50%, -50%) rotate(240deg) translate(200px) rotate(-90deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(240deg) translate(250px) rotate(-90deg);
    }
}

@keyframes floating-5 {

    0%,
    100% {
        transform: translate(-50%, -50%) rotate(300deg) translate(200px) rotate(-90deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(300deg) translate(250px) rotate(-90deg);
    }
}

@keyframes floating-6 {

    0%,
    100% {
        transform: translate(-50%, -50%) rotate(0deg) translate(250px) rotate(-90deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(0deg) translate(200px) rotate(-90deg);
    }
}